:root {
  --white: #f5f5f5;
  --black: #111111;
  --bg-color: var(--white);
  --fg-color: var(--black);
  --border-color: #DDDDDD;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  height: 100%;
  color: var(--black);
  font-size: 1rem;
}

h1 {
  font-size: 4rem;
  font-family: "Noto Serif", serif;
  font-style: italic;
}
h2,
h3 {
  font-family: "Noto Serif", serif;
}

h2 {
  font-size: 2rem;
  margin: 20px 0 20px;
  font-style: italic;
}

h3 {
  font-size: 1.2rem;
  margin: 20px 0 10px;
  font-style: italic;
}

h4 {
  font-size: 1.5rem;
  font-weight: normal;
}

img.photo, img.workspace {
  border-radius: 8px;
  border: 2px solid var(--border-color);
  overflow: hidden;
  padding: 2px;
}

::selection {
  background: var(--fg-color);
  color: var(--bg-color);
  text-shadow: none;
}

::-moz-selection {
  background: var(--fg-color);
  color: var(--bg-color);
  text-shadow: none;
}

a {
  color: var(--black);
}

a:hover {
  color: var(--black);
}

.animate,
.animate * {
  -webkit-transition: all 0.37s cubic-bezier(0.45, 0, 0.58, 1);
  -moz-transition: all 0.37s cubic-bezier(0.45, 0, 0.58, 1);
  -o-transition: all 0.37s cubic-bezier(0.45, 0, 0.58, 1);
  -ms-transition: all 0.37s cubic-bezier(0.45, 0, 0.58, 1);
  transition: all 0.37s cubic-bezier(0.45, 0, 0.58, 1);
}

.home {
  height: 100%;
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--white);
  background-image: url("../assets/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom: 2px solid var(--border-color);
}

.home-card {
  text-align: center;
  background: var(--white);
  padding: 80px;
  color: var(--black);
  border-radius: 8px;
  margin: 20px;
  border: 2px solid var(--border-color);
}

.audio-controls {
  position: absolute;
  top: 10px;
  right: 10px;
}

.btn-link {
  color: var(--white);
  text-decoration: none;
}

.btn-link:hover,
.btn-link:focus {
  color: var(--black);
  text-decoration: none;
}

.pages {
  position: relative;
  top: 100%;
  min-height: 100%;
}

.sidebar {
  width: 25%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
  display: flex;
  background-color: var(--white);
  align-items: center;
  border-right: 2px solid var(--border-color);
}

.logo {
  width: 92%;
  min-height: 70px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  color: var(--black);
  background: var(--white);
  padding-bottom: 15px;
  margin: 10px;
}

.logo a:hover {
  text-decoration: none;
  color: var(--black);
}

.logo a h4 {
  font-size: 1rem;
  text-align: center;
  margin-top: 22px;
}

.logo a h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.side-menu {
  position: relative;
  font-weight: 900;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
}

.side-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.side-menu ul li a {
  display: block;
  height: 50px;
  font-weight: normal;
  font-size: 1rem;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  color: var(--black);
  background-color: var(--white);
  -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.5s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.5s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.5s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.5s cubic-bezier(0, 0, 0.58, 1);
}


.side-menu ul li a:hover {
  text-decoration: overline;
}

.page-sections {
  margin-left: 25%;
  overflow: hidden;
  min-height: 500px;
}

.footer {
  color: var(--black);
}

.sub-footer {
  border-top: 2px solid var(--border-color);
  margin: 0 4.5% 20px;
  padding: 40px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.sub-footer .social-media a {
  margin: 0 10px;
}

.footer p {
  font-size: 0.8rem;
  margin: 0;
}

.aboutme,
.skills,
.work,
.side-projects,
.contact-details,
.education {
  margin: 0 4.5%;
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 100vh;
}

.aboutme .text p {
  text-align: justify;
}

.work ul {
  list-style: none;
  margin: 20px 0 40px;
  padding: 0;
}

.work ul li {
  display: flex;
  align-items: flex-start;
  min-height: 40px;
  padding: 10px 0;
}

.work p {
  margin: 0;
}

.work ul li {
  display: flex;
}
.work ul li div {
  width: 33%;
}
.work ul li .work-period {
}
.work ul li .position {
}
.work ul li .company a {
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .work ul li div {
    width: 25%;
  }
}

@media (max-width: 576px) {
  .work ul li {
    flex-direction: column;
  }
  .work ul li div {
    width: 100%;
  }
}








.side-projects ul {
  list-style: none;
  margin: 20px 0 40px;
  padding: 0;
}

.side-projects ul li {
  display: flex;
  align-items: flex-start;
  min-height: 40px;
  padding: 10px 0;
}

.side-projects p {
  margin: 0;
}

.side-projects ul li {
  display: flex;
}

.side-projects ul li div.period {
  width: 15%;
}
.side-projects ul li div.description {
  width: 50%;
}

@media (max-width: 1024px) {
  .side-projects ul li div.period,
  .side-projects ul li div.description {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .side-projects ul li {
    flex-direction: column;
  }
  .side-projects ul li div {
    width: 100%;
  }
}

.skills ul {
  list-style: none;
  margin: 20px 0 40px;
  padding: 0;
}

.skills ul li {
  display: flex;
  align-items: flex-start;
  min-height: 40px;
  padding: 10px 0;
}

.skills p {
  margin: 0;
}

.skills ul li {
  display: flex;
}
.skills ul li b {
  width: 30%;
}
.skills ul li span {
  width: 70%;
}

@media (min-width: 1024px) {
  .skills ul li b {
    width: 20%;
  }
}

@media (max-width: 576px) {
  .skills ul li {
    flex-direction: column;
  }
  .skills ul li b,
  .skills ul li span {
    width: 100%;
  }
}

.education ul {
  list-style: none;
  margin: 20px 0 40px;
  padding: 0;
}

.education ul li {
  display: flex;
  align-items: flex-start;
  min-height: 60px;
  padding: 10px 0;
}

.education p {
  margin: 0;
}

.education .edu-period {
  width: 120px;
}

.education .degree {
  width: 100%;
}

.education .photo {
  position: relative;
  width: 300px;
}




.contact-details ul {
  list-style: none;
  margin: 20px 0 40px;
  padding: 0;
}

.contact-details ul li {
  display: flex;
  align-items: flex-start;
  min-height: 40px;
  padding: 10px 0;
}

.contact-details p {
  margin: 0;
}

.contact-details p.email {
  margin-top: 20px;
  font-size: 32px;
}

.contact-details p.email a:hover {
  text-decoration: none;
  color: var(--black);
}

@media (max-width: 576px) {
  .contact-details ul li {
    flex-direction: column;
  }
  .contact-details ul li div {
    width: 100%;
  }
}



a.scroll {
  opacity: 0.9;
  border-radius: 40px;
  padding: 10px;
  position: absolute;
  bottom: 40px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  color: var(--black);
  font-size: 2rem;
}

a.scroll:hover {
  text-decoration: none;
}

.sidebar-mobile {
  display: none;
}

@media (max-width: 576px) {
  .sidebar {
    display: none;
  }

  .sidebar-mobile {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .page-sections {
    margin-left: 0;
  }

  .sidebar-mobile .btn-bars {
    z-index: 4;
    position: absolute;
    top: 40px;
    left: 30px;
    color: var(--black);
    display: block;
  }

  .sidebar-mobile .side-menu {
    display: flex;
    left: -100vw;
    z-index: 1;
    background: var(--white);
    height: 100vh;
    align-items: center;
  }

  .sidebar-mobile.open .side-menu {
  }

  .sidebar-mobile.open .side-menu ul {
    width: 100%;
  }

  .aboutme,
  .work,
  .side-projects,
  .education {
    margin: 0 4.5%;
    padding-top: 110px;
    min-height: 100vh;
  }
}

small,
.small {
  font-size: 0.8rem;
  font-weight: 400;
  max-width: 70%;
  display: inline-block;
  text-align: justify;
}
